{% extends 'lztmain/base.html' %}
{% load static %}

{% block content %}
<div class="row addhead">
    <h1>Прайс-лист</h1>
</div>
<table class="table table-bordered pricedescr">
    <tbody>

    {% for r in service %}

    {% ifchanged %}
    <th colspan="3">{{ r.service_id__service_cod }} </th>
    <th>{{ r.service_id__service_name }}</th>
    <th>{{ r.service_id__service_price }}.руб</th>
    {% endifchanged %}

    <tr>
        <td colspan="2">{{ r.material_id__material_name }}</td>
        <td colspan="2">{{ r.material_of_service_cost }} шт.</td>
    </tr>
    {% endfor %}


    </tbody>
</table>
{% endblock %}

{% block js %}
{% endblock %}